body{
  height: 1000px;
}

div {
  overflow: auto;
  font-size: 30px;
  padding: 40px;
  background-image: url(https://github.com/stronger-deer/myBlog/blob/main/img/main-visual.jpg?raw=true);
  background-attachment: scroll;
  /* background-clip: border-box;
  background-origin: border-box; */
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
