.container{
  display: grid;
  grid-template-areas: 
    "a a b"
    "c d b"
    "e f f" ;
    width: 520px;
    height: 520px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
}
.container div:nth-child(1) {
      background-color: royalblue;
      grid-area: a;
    }

    .container div:nth-child(2) {
      background-color: gold;
      grid-area: b;
    }

    .container div:nth-child(3) {
      background-color: slateblue;
      grid-area: c;
    }

    .container div:nth-child(4) {
      background-color: orange;
      grid-area: d;
    }

    .container div:nth-child(5) {
      background-color: salmon;
      grid-area: e;
    }

    .container div:nth-child(6) {
      background-color: seagreen;
      grid-area: f;
    }